#welcometopeerchat {
    margin-top:50px;
    margin-bottom: 30px;
}

#selectalobby{
    margin-top: 20px;
    margin-bottom:20px;
}

#buttonsrow {
    margin-top: 20px;
    margin-bottom:20px;
    position: fixed;
    bottom: 0px;

}

#messagebox {
    width: 500px;
    height: 800px;
}

#textarea{
    position: fixed;
    bottom: 50px;
    margin-top: 20px;
    margin-bottom:20px;
    width: 477px;
    }

h2 {
    margin-top: 20px;
    margin-bottom:20px;

}

#create {
margin-top: 20px;
margin-bottom: 20px;
}

#existinglobbydiv {
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(196, 205, 255);
    color: white;
  
}

#createlobby {
    padding: 20px;
    margin-top: 20px;
    background-color:rgb(196, 205, 255);
}